%h2 Customers

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Phone Number
  %tbody
    - @customers.each do |customer|
      %tr
        %td= link_to customer.name, customer_path(customer)
        %td= customer.phone_number

