%h2= @customer.name

%p Animation goes here

// We'd like to introduce a form for customer/notifications
%p Button Start
%p Button Finish

= link_to 'Back', customers_path, { class: "btn btn-xs btn-default" }
