%h2= @customer.name

.row
  .col-md-4.top-buffer
    = link_to "Pick up the package", initial_notifications_path(@customer), { class: "btn btn btn-info", method: :post }
.row
  .col-md-4.top-buffer
    = link_to "Delivering the package", delivery_notifications_path(@customer), { class: "btn btn btn-primary", method: :post }

.row
  .col-md-4.top-buffer
    = link_to 'Back to customers', customers_path, { class: "btn btn-xs btn-default" }
