%h2 Orders

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Customer Name
      %th Phone Number
      %th Status
      %th Notification Status
  %tbody
    - @orders.each do |order|
      %tr
        %td= link_to order.customer_name, order_path(order)
        %td= order.phone_number
        %td
          - if order.ready?
            %span.label.label-default Ready
          - if order.shipped?
            %span.label.label-info Shipped
          - if order.dropped_off?
            %span.label.label-success Delivered
        %td
          - if order.sent?
            %span.label.label-info Sent
          - if order.delivered?
            %span.label.label-success Delivered
