.container-fluid
  .row{id: 'order-index-header'}
    .col-md-1.col-xs-1
      %span.order-index-title ORDERS
    .col-md-10.col-xs-10.text-center
      = image_tag asset_path('small-logo.png'), id: 'order-index-icon'
  .row
    .col-xs-12.no-padding
      .list-group.list-special
        - @orders.each do |order|
          %a{href: order_path(order), class: 'list-group-item list-special-item'}
            .row
              .col-xs-8.text-uppercase=order.customer_name
              .col-xs-3.index-status.text-uppercase=order.status
              .col-xs-1
                %i.fa.fa-caret-right
